@font-face {
    font-family: "iconfont";
    src: url("1.eot"); /* IE9 */
    src: url("1.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("1.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("1.woff") format("woff"), /* chrome, firefox */
    url("1.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("1.svg#iconfont") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


